*{
    padding:0%
    margin:0%
}

.my_slider
{
    width:100%;
    height:500px;
    overflow: hidden;
}

.my_slide img
{
    width:100%;
    height:500px;
}

figure{
    width: 400%;
    position:relative;
    left:0;
    animation:40s my_slide infinite;
}

.my_slide
{
    width:25%;
    position:relative;
    float:left;
}

@keyframes my_slide
{
    0%
    {
        left:0%
    }
    25%
    {
        left:-100%
    }
    50%
    {
        left:-200%
    }
    75%
    {
        left:-300%
    }
    100%
    {
        left:0%
    }

}